@import "tailwindcss";

@theme {
 
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
}

/* You don't need @layer utilities for colors anymore! 
   Tailwind v4 reads the variables above and does the work for you.
*/
 /* This automatically creates bg-primary-50, text-primary-50, etc. */